body {
    background-color: #e3edf7;
    font-family: Robot;
}
#Swa-Container_app > section {
    padding: 20px 25px;
}

#Swa-Container_header {
    padding-top: 40px !important;
}

#Swa-Container_header h2 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

#Swa-Container_header i {
    height: 40px;
    width: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    color:rgba(52 ,72, 107, 0.7); 
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                -4px -4px 6px -1px rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top:  -5px;

}

#Swa_Circle{
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 40px !important;
}

.Swa_Clock {
    position: relative;
    display: inline-block;
    height: 270px;
    width: 270px;
    text-align: center;
    box-shadow: 20px 20px 30px 2px rgba(0, 0, 0, 0.1),
                -20px -20px 30px 2px rgba(255,255,255,0.4),
                2px 2px 0 rgba(0, 0, 0, 0.2),
                -2px -2px 0 rgba(255, 255,255, 1);
    border-radius: 50%;
}

.Swa_Clock > span {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 700;
}

.Swa_Clock:before {
    position: absolute;
    display: block;
    content: "";
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: inset 5px 5px 6px -1px rgba(0,0,0, 0.15),
                inset -5px -5px 6px -1px rgba(255,255,255, 0.6),
                1px 1px rgba(0, 0, 0, 0.02),
                -1px -1px 0 rgba(255, 255, 255, 1);
    border-radius: 50%;

}

.Swa_Clock:after {
    position: absolute;
    display: block;
    content: "";
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 6px -1px rgba(0,0,0, 0.15),
                -5px -5px 6px -1px rgba(255,255,255, 0.6),
                1px 1px rgba(0, 0, 0, 0.02),
                -1px -1px 0 rgba(255, 255, 255, 1);
    border-radius: 50%;

}

#Swa_Op{
    padding-bottom: 0px !important;
}

#Swa_Op ul li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;   
}

#Swa_Op ul li span  { 
    margin-bottom: 10px;
    display: inline-block;
    height: 40px;
    width: 70px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                -4px -4px 6px -1px rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 30px;
}
.Swa_Op-start{
    color: green;
}
.Swa_Op-stop {
    color: red;
}
.Swa_Op-clear .Swa_Op-lap{
    color: black;
}
#Swa_Counts{
    padding: 15px !important;

}
#Swa_Counts > div {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                -4px -4px 6px -1px rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

#Swa_Counts > small {
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

#Swa_Counts div.col-4 {
    font-size: 16px;
}

#Swa_Footer ul{
    padding: 0;
}

#Swa_Footer ul li{
    display: flex;
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    margin-right: 20px;
    height: 40px;
    width: 50px;
    line-height: 50px;
    border-radius: 7px;
    color:rgba(52 ,72, 107, 0.8); 
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                -4px -4px 6px -1px rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.01);
} 
#Swa_Footer ul li i {
    line-height: 50px;
    font-size: 20px;

}

#Swa_Footer ul li.active span {
    color: rgb(52, 72, 107,1);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0, 0.3),
                inset -4px -4px 6px -1px rgba(255,255,255, 1),
                -0.5px -0.5px 0 rgba(255,255,255, 1),
                0.5px 0.5px 0 rgba(0,0,0,0.15),
                1px 1px rgba(0, 0, 0, 0.02),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
}

