body{
    background-color: #e3edf7;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Record{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #E8E0FF;
    border: 5PX dashed #5D4696;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-top:250px;
    margin-right: 250px;
    
}
.Record span {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: x-large;
    color: #5D4696;

}
.Record_ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.Record_ul li,span{
    
    color: #5D4696;
}

.stopBox{
    background-color: #5D4696;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5PX dashed #E8E0FF;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    margin-left: 250px;
    margin-top:250px ;
}
.stopBox_title{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    
}
.stopBox_title-header{
    display: flex;
    
    font-weight: 500;
    color: pink;
}
.stopBox_time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}
.stopBox_time span{
    font-size: x-large;
    font-weight: 600;
    color: pink;
}

.stopBox_Btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 30px;
}
.stopBox_Btns div button{
    background-color: pink;
    border: 2px solid white;
    border-radius: 10px;   
    opacity: 5px;
    
}

.stopBox_startBtn{
    display: flex;
   
}

.stopBox_stopBtn{
    display: flex;
    
}
.stopBox_clearBtn{
    display: flex;
    
}
.stopBox_lapseBtn{
    display: flex;
}


